.container {
  background: transparent;
  border-color: transparent;
  font-size: 14px;
  line-height: 20px;
}

.icon {
  transform: translateY(3px);

  &.processing {
    color: var(--color-primary-6);
    animation: rotate 3s linear infinite;
  }

  &.processed {
    color: var(--color-success-6);
  }

  &.failed {
    color: var(--color-danger-6);
  }
}

.text {
  color: var(--color-text-1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
