@import '../../index.less';
.spark-flow-variable-from-select {
  height: auto !important;

  .@{ant-prefix}-select-selection-item {
    height: 30px;
  }
}

.spark-flow-var-label {
  .spark-flow-var-name {
    font-weight: 500;
    flex: 1;
    width: 1px;
    color: var(--color-primary-6);
  }
}

.spark-flow-var-type {
  color: var(--color-text-3);
  font-family: Menlo, monospace;
}
