@import '../../index.less';

.spark-flow-node-icon-wrap {
  border-radius: 4px;
  background: var(--color-primary-6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  &.spark-node-icon-small {
    .spark-flow-type-icon {
      font-size: 12px !important;
    }
  }

  &.spark-flow-node-icon-no-bg {
    color: var(--color-text-1);
  }
}
