.status-tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;

  .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: currentcolor;
  }

  &[data-color='success'] {
    color: var(--color-success-6);
  }

  &[data-color='error'] {
    color: var(--color-danger-6);
  }

  &[data-color='processing'] {
    color: var(--color-primary-6);
  }

  &[data-color='warning'] {
    color: var(--color-warning-6);
  }

  &[data-color='default'] {
    color: var(--color-text-1-quaternary);
  }
}

.update-time {
  color: var(--color-text-1-secondary);
  font-size: 12px;
}
