.expand-btn {
  color: var(--color-text-1);
  cursor: pointer;

  &.hidden {
    transform: rotate(180deg);
  }
}

.desc {
  color: var(--color-text-3);
  font-size: 12px;
  line-height: 18px;

  .tag {
    padding: 0px 6px;
    border-radius: 4px;
    line-height: 22px;
    display: inline-block;
    background: var(--color-fill-3);
    color: var(--color-text-1);
    margin: 0 3px;
  }

  .btn {
    color: var(--color-text-1);
    cursor: pointer;
  }
}
