.extract-param-item {
  padding: 10px 12px;
  border: 1px solid var(--color-border-2);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &-key {
    font-weight: 500;
    max-width: 200px !important;
  }

  &-info,
  &-type,
  &-desc {
    color: var(--color-text-2);
  }

  &-actions {
    display: none;
  }

  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    border-color: var(--color-primary-6);

    .extract-param-item-info {
      display: none;
    }

    .extract-param-item-actions {
      display: flex;
      font-size: 16px;
    }
  }
}
