@import '../../index.less';
.spark-flow-tools {
  box-shadow:
    0 12px 24px -16px rgb(54 54 73 / 4%),
    0 12px 40px 0 rgb(51 51 71 / 8%),
    0 0 1px 0 rgb(44 44 54 / 2%);
  border: 1px solid var(--color-border-2);
  background: var(--color-bg-1);
  padding: 6px;
  border-radius: 8px;
}

.spark-flow-tool-icon-btn {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: var(--color-text-1);
  border-radius: 6px;

  &:hover:not(.spark-flow-tool-icon-btn-disabled),
  &.spark-flow-tool-icon-btn-active {
    color: var(--color-primary-6);
    background: var(--color-primary-light-1);
  }

  &.spark-flow-tool-icon-btn-disabled {
    cursor: not-allowed;
    color: var(--color-text-4);
  }

  .@{ant-prefix}-popover .@{ant-prefix}-popover-content,
  .@{ant-prefix}-dropdown .@{ant-prefix}-dropdown-menu {
    margin-bottom: 6px;
  }
}

.spark-flow-tools-scale-rate {
  width: 36px;
  text-align: center;
}

.spark-flow-touch-mode-select-item {
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  width: 300px;
  padding: 8px 12px;

  &-icon {
    background: var(--color-fill-2);
    color: var(--color-text-2);
    border-radius: 4px;
  }

  &-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text-1);
  }

  &-desc {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-text-2);
  }

  &:hover,
  &.spark-flow-touch-mode-select-item-active {
    background: var(--color-primary-light-1);

    .spark-flow-touch-mode-select-item-icon {
      background: var(--color-primary-light-3);
      color: var(--color-primary-6);
    }
  }
}

.spark-flow-touch-mode-btn-container {
  .@{ant-prefix}-popover .@{ant-prefix}-popover-inner {
    padding: 4px;
  }
}