.suggested-questions-item-wrapper {
  background-color: var(--color-fill-4);
  color: var(--color-primary-6);
  &:hover {
    background-color: var(--color-fill-3);
    .suggested-questions-item-icon-wrapper {
      background-color: var(--color-fill-2);
    }
  }
}
