.status {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 13px;
}

.dot {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.text {
  font-size: 12px;
}

.published {
  .dot {
    background: var(--color-success-6);
    border: 2px solid var(--color-success-light-2);
  }
  .text {
    color: var(--color-success-6);
  }
}

.editing {
  .dot {
    background: var(--color-primary-6);
    border: 2px solid var(--color-primary-light-2);
  }
  .text {
    color: var(--color-primary-6);
  }
}

.draft {
  .dot {
    background: var(--color-fill-2);
  }
  .text {
    color: var(--color-text-4);
  }
}
