.section-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-1);
  margin-top: 20px;
  margin-bottom: 16px;
}

.modal {
  padding: 20px;

  :global(.arco-form-item) {
    margin-bottom: 8px;
  }
}
