.spark-flow-condition-item {
  border: 1px solid var(--color-border-2);
  border-radius: 6px;

  &-header {
    border-bottom: 1px solid var(--color-border-2);
  }

  .spark-flow-condition-item-divider {
    height: 20px;
    margin: 0;
  }

  &-disabled-label {
    background: var(--color-fill-2);
    padding: 6px 8px;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-text-3);
  }
}
