.table {
  :global {
    .arco-table-th {
      background-color: transparent;
      color: var(--color-text-3);
      border-top: 1px solid var(--color-border);
      font-weight: normal;
      line-height: 20px;
      font-size: 12px;
      padding: 10px 20px;
    }

    .arco-table-th::before {
      content: none !important;
    }

    .arco-table-td {
      padding: 12px 20px;
      line-height: 24px;
    }
  }
}
