@import '../../index.less';

.spark-flow-node-result-panel {
  padding: 0 8px 8px;
  border-radius: 12px;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 100%;
  cursor: initial !important;
  transition: 0.4s ease-in-out;

  * {
    cursor: initial;
  }

  .spark-flow-node-result-status,
  .spark-flow-node-result-time {
    line-height: 24px;
  }

  .spark-flow-node-result-status {
    font-size: 14px;
    font-weight: 500;
  }

  .spark-flow-node-result-time {
    font-size: 12px;
    font-family: Menlo, monospace;
    color: var(--color-text-3);
  }

  .spark-flow-node-result-header {
    cursor: pointer;
    padding: 8px;
  }

  .spark-flow-node-result-expand-icon {
    cursor: pointer;
    transition: 0.3s ease-in-out;

    svg {
      cursor: pointer;
    }
  }

  &.spark-flow-node-result-panel-success {
    background: var(--color-success-light-1);
    border: 1px solid var(--color-success-light-3);

    .spark-flow-node-result-status {
      color: var(--color-success-6);
    }
  }

  &.spark-flow-node-result-panel-fail {
    background: var(--color-danger-light-1);
    border: 1px solid var(--color-danger-light-3);

    .spark-flow-node-result-status {
      color: var(--color-danger-6);
    }
  }

  &.spark-flow-node-result-panel-executing {
    background: var(--color-primary-light-1);
    border: 1px solid var(--color-primary-light-3);

    .spark-flow-node-result-status {
      color: var(--color-primary-6);
    }
  }

  &.spark-flow-node-result-panel-pause,
  &.spark-flow-node-result-panel-stop {
    border: 1px solid var(--color-border-2);
    background-color: var(--color-bg-3);

    .spark-flow-node-result-status {
      color: var(--color-text-2);
    }
  }

  &.spark-flow-node-result-panel-hidden {
    padding-bottom: 0;

    .spark-flow-node-result-expand-icon {
      transform: rotate(180deg);
    }
  }
}

.spark-flow-node-result-error-info {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text-2);
}

.park-flow-node-result-content-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-1);
}

.spark-flow-node-result-content-area {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-text-2);
  border-radius: 6px;
  padding: 6px 8px;
  background: var(--color-fill-3);
  word-break: break-all;
}

.spark-flow-node-result-content {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--color-bg-1);
}
