@import '../../index.less';

.spark-flow-panel-extract-param-item {
  padding: 10px 20px;
  border: 1px solid var(--color-border-2);
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &-info,
  &-type {
    color: var(--color-text-2);
  }

  &-actions {
    display: none;
  }

  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    border-color: var(--color-primary-6);

    .spark-flow-panel-extract-param-item-info {
      display: none;
    }

    .spark-flow-panel-extract-param-item-actions {
      display: flex;
      font-size: 16px;
    }
  }
}
