.page {
  height: 100%;
  :global {
    .arco-spin-nested-loading,
    .arco-spin-container {
      height: 100%;
    }
    .arco-spin {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.loading {
  height: 100%;
}

.icon {
  cursor: pointer;
  color: var(--color-text-3);
  font-size: 14px;

  &:hover {
    color: var(--color-text-1);
  }
}
