@import '../index.less';

.spark-flow-small-padding-popover {
  &.@{ant-prefix}-popover .@{ant-prefix}-popover-inner {
    padding: 4px 8px;
  }
}

.spark-var-type {
  font-family: Menlo, monospace;
  margin: 0;
}

.spark-flow-container-wrap {
  height: 100%;
  width: 100%;
}

.spark-flow-container {
  position: relative;
  height: 100%;
  width: 100%;

  .react-flow__background {
    background-color: var(--color-bg-3);
  }
}

.spark-flow-icon {
  font-size: 16px;
}

.spark-flow-operator-icon-with-bg {
  transition: 0.4s ease-in-out;
  cursor: pointer;

  .spark-flow-node-action-btn {
    color: var(--color-text-2);
  }

  &:hover {
    background: var(--color-primary-light-1);

    .spark-flow-node-action-btn {
      color: var(--color-primary-6);
    }
  }
}

.spark-flow-text-btn {
  font-size: 12px;
  padding: 0;
  gap: 4px;
}

.spark-flow-icon-base-color {
  color: var(--color-text-3);
}

.text-desc {
  color: var(--color-text-3);
  font-size: 12px;
}

.spark-flow-disabled-icon-btn {
  color: var(--color-text-4);
  cursor: not-allowed;
}