.tokenItem {
  display: flex;

  span:nth-child(1) {
    display: inline-block;
    width: 100px;
    color: var(--color-text-2);
    font-size: 14px;
    line-height: 24px;
  }

  span:nth-child(2) {
    color: var(--color-text-1);
    font-size: 14px;
    line-height: 24px;
  }
}

.icon {
  font-size: 12px !important;
}

.tokenTag,
.tagResult {
  margin: 0;
  span:last-child {
    margin-left: 2px;
  }
}

.tagResult.success {
  background: var(--color-success-light-1);
  border-color: var(--color-success-light-3);
  color: var(--color-success-6);

  .icon {
    color: var(--color-success-6);
  }
}

.tagResult.fail {
  background: var(--color-danger-light-1);
  border-color: var(--color-danger-light-3);
  color: var(--color-danger-6);

  .icon {
    color: var(--color-danger-6);
  }
}

.tagResult.executing {
  .icon {
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
