.mcp-server-wrapper {
  padding: 12px 16px;
  border: 1px solid var(--color-border-2);
  background-color: var(--color-bg-2);
  border-radius: 6px;
  transition: 0.4s ease;

  &:hover:not(.active) {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    border-color: var(--color-primary-6);
  }

  &.active {
    box-shadow: 0px 4px 6px 0px var(--color-primary-5);
    border: 1px solid var(--color-primary-6);
  }

  &.expanded {
    border-radius: 6px 6px 0px 0px;
  }
}

.fold-icon {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.tools-container {
  padding: 12px 16px;
  border: 1px solid var(--color-border-2);
  border-radius: 0px 0px 6px 6px;
  transition: max-height 0.3s ease;
}

.desc {
  max-width: 486px;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: var(--color-text-3);
}
