.add {
  width: 100%;
  margin-top: 12px;
  background: var(--color-bg-3);
}

.form {
  height: 328px;
  overflow-y: auto;
}

.desc {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: var(--color-text-2);
}
