.step-three {
  .form-item-label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-text-1);
  }

  .info-icon {
    font-size: 16px;
    color: var(--color-text-1-tertiary);
  }

  .mcpInstallTypeItem {
    width: 314px;
  }
}
