.filter-selector {
  :global {
    .arco-tag-checkable {
      font-size: 14px;
      padding: 4px 12px;
      height: auto;
      margin: 0;
      background: transparent;
      &:hover {
        background: var(--color-fill-2);
        color: var(--color-text-1);
      }

      &.arco-tag-checked {
        background: var(--color-fill-3);
        color: var(--color-primary-6);
      }
    }
  }
}
