.variablesWrapper {
  padding: 12px;
  border-radius: 6px;
  background: var(--color-fill-4);
}

.form {
  :global {
    .arco-form-item {
      margin-bottom: 12px;
    }
  }
}

.expandBtn {
  color: var(--color-text-1);
  cursor: pointer;

  &.hidden {
    transform: rotate(180deg);
  }
}
